#canvas-container {
    position: relative;  /* Required for absolute positioning */
    width: 600px;        /* Match canvas width */
    height: 400px;       /* Match canvas height */
}

#imageCanvas {
    position: absolute; /* Place Fabric.js canvas at the bottom */
    top: 0;
    left: 0;
    z-index: 1;       /* Ensure Fabric.js canvas is below PixiJS */

}

#pixi-canvas-overlay {
    position: absolute; /* Place PixiJS canvas at the top */
    top: 0;
    left: 0;
    width: 600px;    /* Match canvas width */
    height: 400px;   /* Match canvas height */
    z-index: 2;       /* Ensure PixiJS canvas is above Fabric.js */
    pointer-events: none; /* Allow interaction with Fabric.js canvas */
}

.effect-controls button { /*Adjust the look of effect*/
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 5px;
  background-color: #4CAF50; /* Green */
  color: white;
  transition: background-color 0.3s;
}

.effect-controls button:hover {
  background-color: #367C39;
}
